<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Security Test</title>
</head>
<body>
	<h2>Login</h2>
	<form action="/login" method="POST">
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
		<tr>
			<td bgcolor="lavender">username:</td>
			<td><input type="text" name="username" placeholder="Username"/></td>
		</tr>
		<tr>
			<td bgcolor="lavender">password:</td>
			<td><input type="password" name="password" placeholder="Password"/></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="login"/></td>
		</tr>
	</table>
	</form>
	<div>
	<a href="http://localhost:8002/oauth2/authorization/google">Google Login</a>
	<a href="http://localhost:8002/oauth2/authorization/kakao">Kakao Login</a>
	</div>
</body>
</html>